@import '_sizes';
@import '_animation.module';

.contactLayout {
  margin: 0 auto;
  padding: 50px;

  @media screen and (min-width: $laptopL) {
    width: min(100%, 1500px);
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: $laptopL) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $smallTablet) {
    width: 100vw;
    padding: 0;
  }
}

.content {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.email {
  margin: 0 auto;
  height: auto;
  width: fit-content;
  padding: 15px;
  line-height: 2.5em;
  text-align: center;

  @media screen and (max-width: $smallTablet) {
    width: 100%;
    line-height: 2em;
  }
}

.emailMessage {
  font-size: 1.5em;
  font-weight: 600;

  @media screen and (max-width: $smallTablet) {
    font-size: 1rem;
  }
}

.text {
  font-size: 1.2em;

  @media screen and (max-width: $smallTablet) {
    margin-top: 20px;
  }
}

.socialMedia {
  margin: 0 auto;
  margin-top: 20px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 10px;

  @media screen and (max-width: $smallTablet) {
    width: 100%;
    padding-bottom: 10px;
  }
}

.mediaIcon {
  font-size: 1.5em;

  &:focus,
  :hover {
    opacity: 0.8;
  }

  &:focus {
    svg {
      border: 1px solid var(--soft-orange);
      border-radius: 5px;
    }
  }
}

.form {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 2rem;

  @media screen and (max-width: $smallTablet) {
    width: 100%;
    padding: 0;
  }
}

.label {
  width: 100%;
  padding-left: 5px;
  text-align: left;
  color: var(--soft-orange);
  font-size: 1em;
}

.iconInput {
  height: auto;
  width: 400px;
  margin-bottom: 15px;
  position: relative;

  @media screen and (max-width: $smallTablet) {
    width: 100%;
  }
}

.icon {
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.input {
  width: 100%;
  height: auto;
  background: #151515;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 1em;
  padding: 15px;
  padding-left: 40px;

  &:focus {
    outline: none;
    border: 1px solid var(--soft-orange);
  }
}

.messageInput {
  width: 100%;
  height: auto;
  min-height: 200px;
  background: #151515;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px;
  font-family: Rubik, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;

  &:focus {
    outline: none;
    border: 1px solid var(--soft-orange);
  }
}

.required {
  @include fadeIn($time: 0.5s);
  color: var(--red);
  font-size: 1rem;
  padding-left: 5px;
  width: 100%;
  text-align: left;
  line-height: 1rem;
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 30px;
  width: auto;
  padding: 0 30px;
  height: 50px;
  background: var(--soft-orange);
  color: white;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s linear;

  svg {
    font-size: 1.2em;
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:focus {
    border: 2px solid var(--green);
    opacity: 0.5;
  }

  @media screen and (max-width: $smallTablet) {
    margin-top: 20px;
  }
}

.sending {
  @include fadeIn();
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    @include colorLoading();
  }

  * {
    margin-bottom: 50px;
  }
}

.action {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.actionMessage {
  font-size: 1.2rem;
  text-align: center;
}

%emailSent {
  @include fadeIn();
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 2rem;
    margin-top: 10px;
  }
}

.failed {
  @extend %emailSent;

  svg {
    color: var(--red);
  }
}

.succeed {
  svg {
    color: var(--soft-orange);
  }
}

.fade {
  @include fadeOut();
}
